.fp_pic_container {
    width: 80%;
    margin: auto;
    height: 75rem;
    background-image: url(/img/rsz_windowgirl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.frontpage_pic {
    width: 100%;
    margin: auto;
}

.top_text {
   margin-top: 5rem;
}

.fp_h2 {
    width: 80%;
    margin: auto;
    text-align: center;
}

.top_contianer {
    display: flex;
    width: 100%;
    text-align: center;
}

.fp_text_container {
    font-family: 'Quicksand', sans-serif;
    width: 30%;
    margin: auto;
    margin-top: 4REM;
    text-decoration: underline 2px;
}

