    @media (max-width: 767px) {


      /*LOGO*/
    .logo {
      width: 70%;
    }


    /*INDEX.HTML*/
    .fp_h2 {
      width: 100%;
      font-size: small;
      font-weight: normal;
      line-height: 1.6rem;
    }

    .top_text {
      font-size: 1.5rem;
      width: 100%;
    }

    .fp_pic_container {
      width: 80%;
      margin: auto;
      height: 30rem;
      background-image: url(/img/rsz_windowgirl.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }



    /*SLIDER*/
    .slider {
      width: 100%;
    }


     /*POSTS.HTML*/
    .wrap {
      flex-direction: column;
    }

    .wofpic {
      margin-top: 4rem;
      margin-bottom: 4rem;
    }

    .loading {
      width: 100%;
    }



    /*DETAILS.HTML*/
    .aligncenter img {
      width: 200px;
      height: 400px;
      border-radius: 1rem;
    }

    .modal_container {
      width: 90%;
      margin: auto;
    }
    
    .modalBig {
        width: 100%;
        margin-top: 10rem;
    }



    /*ABOUT.HTML*/
    .pic_of_bill {
     width: 300px;
    }

    .hi_text {
      font-size: 1.7rem;
    }

    .hero_banner {
      height: 200px;
    }

    .about_erik {
     width: 100%;
     line-height: 1.7;
    }



    /*HAMBURGER-MENU*/
    .header-nav {
      display: none;
    }

    .nav_hamburger {
      display: flex;
      position: absolute;
      right: 30px;
      top: 30px;
    }

    nav .mainMenu {
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 10;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #DCCCBC;
      transition: top 1s ease;
      display: none;
    }

    nav .mainMenu .closeMenu {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
    }

    nav .openMenu {
        display: block;
    }

    nav .mainMenu li a:hover {
        background: none;
        color: rgb(187, 165, 147);
        font-size: 2rem;
    }



    /*FOOTER*/
    .lorem_footer_text {
      display: none;
    }

    .mobile_fot {
      display: flex;
      width: 50%;
      text-align: center;
    }
    }
