.loading_div {
    width: 100%;
}

.loading {
    width: 15%;
    margin: auto;
}

.our_headphones {
        margin: auto;
        text-align: center;
        font-size: 4rem;
}

.wof__div {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 3px solid #DCCCBC;
    border-radius: 0.9rem;
    margin-top: 7rem;
}

.wof__container {
    width: 100%;
    margin: auto;
    
}

.wrap {
    width: 70%;
    display: flex;
    margin: auto;
    border-radius: 1rem;
}

.wofinfo {
    width: 80%;
    margin: auto;
}

.post_title {
    width: 100%;
    text-align: center;
    margin: auto;
}

.read_more_div {
    margin-top: 10rem;
    width: 100%;
    text-align: center;
}

.read_more_text, .fa-chevron-down {
    font-size: 2rem ;
    font-weight: bolder;
}

.read_more_div:hover {
    transition: 0.3s;
    transform: translateY(-7px);
    font-weight: bolder;
}

.wofpic:hover {opacity: 0.8;}

